################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Source/.vs/NCM
/Debug
/Editor/temp/Debug/re2
/lib/Debug
/NCMb/Метки.txt
/NCMb/Отмеченные Z-дексели.txt
/temp/Debug
/zlib-1.2.11/contrib/masmx64
